.user-view-card {
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-icon {
        color: black;
        font-size: 22px;
    }
  }

  mat-card-content {
    p {
      display: flex;
      justify-content: space-between;
      padding: 5px 0px;
    }
  }
}